@font-face {
    font-family: "ScoreBoardSt"; 
    src: url("/ScoreBoardSt-DX5d.ttf") format("truetype");
}

body {
    margin: 0;
    color: thistle;
    background-image: url("/images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: 20px;
    font-family: "ScoreBoardSt"; 
}

.container {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    display: flex;
    justify-content: space-evenly;
    margin: 70px auto;
    height: 200px;
    min-width: 200px;
    padding: 10px 7px 25pxpx 7px;
    width: 450px;
    background: rgba(30, 2, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 2px 7px 30px 20px rgba(30, 30, 30, 0.6);

    


;
    }
.plus {
    border: 1px solid whitesmoke;
    background: radial-gradient(ellipse closest-side at center, skyblue,#D1F0D7);
    border-radius: 4px;
    box-shadow: 2px 1px 19px 2px;
    margin: 3px;
    color: #8C602F;
    font-family: inherit;
}
.plus:hover{
    background: linear-gradient(to left, white, lightblue);
    transform: scale3d(1.25, 1.25, 1.1);
    box-shadow: 2px 1px 80px 20px;

}
.home {
    background-color: black;
    height: 100px;
    min-width: 150px;
    padding: 4px 2px;
    color: red;
    font-size: 45px;
     font-family: inherit;
     border-radius: 7px;
     border: 1px solid whitesmoke;
}
.guest {
    background-color: black;
    height: 100px;
    min-width: 150px;
    padding: 4px 2px;
    color: red;
    font-size: 45px;
     font-family: inherit;
     border-radius: 7px;
     border: 1px solid whitesmoke;
}
.ahead_lyt{
    align-self: flex-end;
    justify-content: start;
    color: green;
    border: 2px solid burlywood;
}
.btn_brd{
    border: 2px solid white;
    border-radius: 7px;
    padding: 5px 10px ;
    margin-top: 15px;
}
.home.win{
    box-shadow: 2px 2px 25px 14px limegreen;
    border: 2px solid lightgreen;
    transition: border .2s ease, box-shadow .2s ease;
}
.guest.win{
    box-shadow: 2px 2px 25px 14px limegreen;
    border: 2px solid lightgreen;
    transition: border .2s ease, box-shadow .2s ease;
}

.home.loss{
     box-shadow: -4px 2px 40px 10px #E2B178;
    border: 2px solid lightsalmon;
    transition: border .2s ease, box-shadow .2s ease;
     
}
.guest.loss{
     box-shadow: -4px 2px 40px 10px #E2B178;
    border: 2px solid lightsalmon;
    transition: border .2s ease, box-shadow .2s ease;
     
}

.container.tie{
    border: 4px solid greenyellow;
    box-shadow: 1px 1px 25px 12px #FEFAE0 ;
    
}